@model OnlineBookstore.Models.avtor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>avtor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.embg_avtor }) |
    @Html.ActionLink("Back to List", "IndexDetailed")
</p>
